.blog{
    background-color: #001F3F;
}
.containerStyle{
      position: relative;
      top: 80px;
}
/* nav {
    background-color: #001F3F !important;
    color: white !important;
    position: relative !important;
} */
