.editContainer {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3498db;
  }
  
  .editContainer h2 {
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    color: #001f3f;
  }
  
  .editContainer label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #001f3f;
    font-family: 'EB Garamond', serif;

  }
  
  .editContainer input,
  .editContainer textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .editContainer button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .editContainer button:hover {
    background-color: #45a049;
  }
  